body {
    margin:0;
    padding:0;
    font: Roboto;
    background-color: black;
    color: black;
}

.header-container {
    background-color: #1F2937;
    color: white;
    display: flex; 
    justify-content: space-between;
    /* Adjust containers to this measurement below */
    height: 80px;
    width: 680px;
    margin-left: 450px;
    flex: 1;

}

.links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size:xx-small;
    margin-right: 75px;
    color: lightslategray;
}

.logo{
    padding: 4px;
    font-size: 10px;
    color: #F9FAF8;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin-left: 86px;
    margin-top: 5px;
}

.underneath-header {
    background-color: #1F2937;
    height: 170px;
    width: 680px;
    margin-left: 450px;
    color: white;
    display: flex; 
    justify-content: space-between
}

.underneath-header .left-side{
    display:flex;
    flex-direction: column;
}

.underneath-header .regular-text {
    font-size: small;
    width: 290px;
    height: 100px;
    margin-left: 90px;
    margin-top: -60px;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.underneath-header button {
    background-color: #3882F6;
    color: white;
    width: 70px;
    height: 25px;
    margin-left: 90px;
    border-radius: 8px;
    border-color: #3882F6;
    margin-top: -50px;
}

.underneath-header p {
    display: flex;
    font-size: Large;
    width: 200px;
    height: 75px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    padding: 12px;
    margin-left: 77px;
    margin-top: -30px;
    font-weight: bolder;
}

.img-placeholder {
    height: 100px;
    width: 220px;
    background-color: lightslategray;
    margin-right: 40px;
    margin-top: 10px;
}

.img-placeholder p {
    display: flex;
    font-size: xx-small;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
    margin-top:1px;
}

.random-info-container {
    background-color: white;
    height: 220px;
    width: 680px;
    margin-left: 450px;
    color: black;
}

.title-of-section{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: larger;
    color: #1F2937;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.text-container{
    height: 50px;
    width: auto;
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: center;
}

.all-boxes{
    height: 80px;
    width: auto;
    display: flex;
    gap: 17px;
}

.box {
    width: 70px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    border: 1px solid blue; /* Creates a visible black border */
    padding: 10px; /* Adds space inside the box */
    margin-top: 40px;
    margin-left: 53px;
    border-radius: 8px;

}

.text {
    margin-top: 40px;
    font-size: small;
    max-width: 130px;
}


.quote-container {
    background-color: #E5E7EB;
    color: black;
    height: 200px;
    width: 680px;
    margin-left: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container .quote {
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1F2937;
    width: 455px;
    display: flex;
    margin-left: 100px;
}

.quote-container .author {
    margin-top: 120px;
    font-size: x-small;
    font-weight: bolder;
    margin-right: 10px;

}

.bottom-signup-container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: white;
    /* make border white and make it a big border */
    height: 135px;
    width: 680px;
    margin-left: 450px;
}

.blue-container {
    background-color: #3882F6;
    display: flex;
    color: white;
    background-color: #3882F6;
    height: 70px;
    width: 500px;
    border-radius: 6px;
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


.left-side .call-to-action{
    font-size: small;
    padding: 0px;
    margin-left: 60px;
    margin-top: 20px
}

.left-side .button-locator {
    font-size: x-small;
    padding: 0px;
    margin-left: 60px;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}


.right-side .signup {
    height: 30px;
    border-radius: 8px;
    background-color: #3882F6;
    border-color: snow;
    color: snow;
}

.copyright {
    width: 680px;
    margin-left: 450px;
    height: 40px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-small;
}
